@import url(https://fonts.googleapis.com/css?family=Oswald:700,200);

* {
  margin: 0;
  padding: 0;
}

button {
  position: relative;
  display: block;
  width: 150px;
  height: 40px;
  font-size: 1.2em;
  margin: 125px auto;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

h1 {
  margin-top: 50px;
  text-align: center;
}

h4 {
  margin-top: 20px;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Oswald';
}
table {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  width: 25px;
  height: 25px;
}

#main {
  width: 700px;
  height: 800px;
  margin: auto;

}

.board {
  position: absolute;
  width: 380px;
  height: 800px;
  margin: 25px auto;
  border: 2px solid black;
}

.displays {
  position: relative;
  margin: 25px;
}

.top {
  width: 330px;
  height: 330px;
  background: white;
  border: 1px solid black;

}

.bottom {
  width: 330px;
  height: 330px;
  margin-top: 0px;
  background: white;
  border: 1px solid black;
}

.highlight {
  background: rgba(144,144,144,0.9);
}

.panel {
  float: right;
  width: 275px;
  height: 740px;
  margin-top: 25px;
}

.topPanel {
  width: 275px;
  height: 450px;
  border: 2px solid black;
  display: inline-block;
}

.bottomPanel {

}

.sunkList {
  padding-left: 20px
}

.console {
  position: relative;
  width: 275px;
  height: 310px;
  margin-top: 36px;
  display: block;
  border: 2px solid black;
}

.text {
  position: relative;
  width: 250px;
  height: 375px;
  margin: 12px;
  display: inline-block;
}

.hit {
  background: red;
}

.miss {
  background: blue;
}

.square:hover {
  background-color: grey;
}
